@import 'tailwindcss';

:root {
	--background: #2f2f33;
	--foreground: #f5f8fa;
	--border: #636363;
	--gray_light: #aab8c2;
	--gray_dark: #253341;
	--full_dark: #15202b;
	--radius: 14px;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-border: var(--border);
	--color-gray_light: var(--gray_light);
	--radius-xl: var(--radius);
	--color-gray_dark: var(--gray_dark);
	--color-full_dark: var(--full_dark);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #2f2f33;
		--foreground: #f5f8fa;
		--color-border: var(--border);
	}
}

body {
	font-family: 'Anonymous Pro', monospace;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
